.search-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    color: var(--grey);
    background-color: var(--darkgrey);
    width: 80%;
    margin: auto;
    border-radius: 2rem;
}

.search-flex input {
    background-color: var(--darkgrey);
    border: none;
    width: 100%;
    font-size: 1.2rem;
    color: var(--grey);
    font-family: 'Inter';
}

.search-flex input:focus {
    outline: none;
}