    .grid-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 1.5rem 3rem;
    }

    .list-table{
        width: 85%  ;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }