
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root{
  --white: #f3f3f3;
  --black: #000;
  --blue : #3a80ef;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green:#61c96f;
  --red: #f94141
}


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
}

::selection{
  background-color: var(--blue);
  color: var(--white);
}


::-webkit-scrollbar{
  width: 3px;
}

::-webkit-scrollbar-track{
  background: #000;
}


::-webkit-scrollbar-thumb{
  background:var(--grey);
}


a{
  color: var(--white);
  text-decoration: none !important;
}